body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white
}
/* Centering from https://www.w3schools.com/howto/howto_css_image_center.asp */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* largely based on https://www.eduardo-araujo.com/tips/post-59 */

.figure {
    display: inline-block;
    max-width : 300px;
    position: relative
}

.figure img {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    box-shadow : 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
